*{
    margin: 0;
    font-size: 16px;
}
html{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 24px;
}
header{
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button, select{
    /* font-size: 1.25rem; */
    border-radius: 1.5rem;
    padding: 1rem 1.5rem;
    background-color: #dddddd;
    border: none;
}
select{
    border-radius: 0.5rem;
    /* font-size: 1.25rem; */
}
#container-forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.forms{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
#container-forms .forms .form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
} 
#container-forms input{
    padding: 0.5rem;
}
label{
    display: inline-block;
    width: 110px;
}
/* 
    ===========
    Tic Tac Toe
    ===========
*/
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.row{
    display: flex;
}
.row div{
    font-size: 32px;
}
.box{
    font-size: 32px;
    width: 150px;
    height: 150px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box span{
    opacity: 0;
    padding: 1rem;
}
.box.right{
    border-right: solid 1px black;
}
.box.down{
    border-bottom: solid 1px black;
}
.score span, .box span{
    font-size: 32px;
}
#result{
    display: none;
}
.container{
    display: none;
    justify-content: center ;
    flex-direction: row;
    margin-top: 1rem;
    gap: 1rem;
}
@media (orientation: portrait){
    .forms{
        flex-direction: column;
    }
    body{
        margin: 50px;
    }
}